In [ ]:
a = 123
b = "123"
c = 123.0

print ("type of 123", type(a))
print ("type of '123'",type(b))
print ("type of 123.0",type(c))

print("instance of 123",isinstance(a,int))
print("instance of '123'",isinstance(b,str))
print("instance of 123.0",isinstance(c,float))

type of 123 <class 'int'>
type of '123' <class 'str'>
type of 123.0 <class 'float'>
instance of 123 True
instance of '123' True
instance of 123.0 True

In [ ]:
name = "sam"
age = 5
location = "pune"
print('%s is %s years old and located at %s'%(name, age, location))

sam is 5 years old and located at pune

In [ ]:
a = [["sam", 5, "Pune"],["John", 15, "Mumbai"]]
print(a)
print(type(a))
print(isinstance(a,list))
print(len(a))
print(a[0])
print(a[-1])
print(sorted(a))
print(sorted(a[0]))

[['sam', 5, 'Pune'], ['John', 15, 'Mumbai']]
<class 'list'>
True
2
['sam', 5, 'Pune']
['John', 15, 'Mumbai']
[['John', 15, 'Mumbai'], ['sam', 5, 'Pune']]

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
a = [0,1,2,3,4,5]
print(a)
a.append(10)
print (a)
a.insert(2,"hello")
print(a)
a.remove("hello")
print(a)
del(a[0])
print(a)
a.insert(0,"hello")
print(a)

[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 10]
[0, 1, 'hello', 2, 3, 4, 5, 10]
[0, 1, 2, 3, 4, 5, 10]
[1, 2, 3, 4, 5, 10]
['hello', 1, 2, 3, 4, 5, 10]

In [ ]:
list1 = ['hello', 1, 2, 3, 4, 5, 10]
print(list1)
list2 = list1.pop()
print(list2)
print(list1)

['hello', 1, 2, 3, 4, 5, 10]
10
['hello', 1, 2, 3, 4, 5]

In [ ]:
list1 = ['hello', 1, 2, 3, 4, 5, 10]
print(list1)
list2 = list1.pop(0)
print(list2)
print(list1)

['hello', 1, 2, 3, 4, 5, 10]
hello
[1, 2, 3, 4, 5, 10]

In [ ]:
a= ["arun", "kumar", "kishore"]
print(a)
print(a[0][0])
print(a[0][-1])

print(a[1][0])
print(a[1][-1])

print(a[2][0])
print(a[2][-1])

['arun', 'kumar', 'kishore']
a
n
k
r
k
e

In [ ]:
num = input("how many number in List you want")
num1 = int(input("enter first value"))
num2 = int(input("enter second value"))
num3 = int(input("enter third value"))
a = [num1, num2, num3]
print(num)
print (a)

how many number in List you want3
enter first value1
enter second value2
enter third value3
3
[1, 2, 3]

In [ ]:
num = int(input("how many number in List you want in list:"))
x=0
list3 = []
while x < num:
  #print(x)
  list3.append(int(input("enter %s value "%(x+1))))
  x=x+1
print("Your list is: ",list3)

how many number in List you want in list:2
enter 1 value 12
enter 2 value 13
Your list is:  [12, 13]