In [15]:
import random
random_NUM = random.randint(1,20)
print(random_NUM)

x = 0
while x<3:
  entered_NUM = int(input("Enter number"))
  print(entered_NUM)
  if entered_NUM == random_NUM:
    print("Your guess correct.")
    break
  else:
    if entered_NUM < random_NUM:
      print("You entered lesser number.")
    elif entered_NUM > random_NUM:
      print("You entered higher number.")
    print("Pleae try again.")
  x +=1

11
Enter number2
2
You entered lesser number.
Pleae try again.
Enter number14
14
You entered higher number.
Pleae try again.
Enter number11
11
Your guess correct.

In [29]:
my_dict = {"name": "John", "age": 30, "city": "New York"}
print(my_dict)
print(my_dict["name"])

my_dict["age"] = 33
print(my_dict["age"])  # Output: 31

print(my_dict)

my_dict["gender"] = "Male"

print(my_dict)

if "gender" in my_dict:
  print("gender is in my dictionary")

del my_dict["gender"]


print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}
John
33
{'name': 'John', 'age': 33, 'city': 'New York'}
{'name': 'John', 'age': 33, 'city': 'New York', 'gender': 'Male'}
gender is in my dictionary
{'name': 'John', 'age': 33, 'city': 'New York'}
{'name': 'John', 'age': 30, 'city': 'New York'}
John
33
{'name': 'John', 'age': 33, 'city': 'New York'}
{'name': 'John', 'age': 33, 'city': 'New York', 'gender': 'Male'}
gender is in my dictionary
{'name': 'John', 'age': 33, 'city': 'New York'}

In [31]:
print(my_dict.keys())

dict_keys(['name', 'age', 'city'])

In [32]:
print(my_dict.values())

dict_values(['John', 33, 'New York'])

In [34]:
print(my_dict.items())

dict_items([('name', 'John'), ('age', 33), ('city', 'New York')])

In [36]:
print(my_dict.get("age"))

33

In [42]:
squares = {x: x*x for x in range(15)}
# Output: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196}

In [56]:
nested_dict = {"person": {"name": "John", "age": 30}, "city": "New York"}
print(nested_dict)

{'person': {'name': 'John', 'age': 30}, 'city': 'New York'}

In [47]:
print(nested_dict.get("person"))

{'name': 'John', 'age': 30}

In [48]:
print(len(nested_dict))

2

In [57]:
print(nested_dict.pop("city"))
print(nested_dict)

New York
{'person': {'name': 'John', 'age': 30}}